
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #121212; 
    margin: 0;
    color: #e0e0e0;
    padding: 20px;
    display: flex;
    justify-content: center;
}

/* Container */
.container {
    background: #1e1e1e; 
    padding: 25px 30px;
    border-radius: 12px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
}


.firstline {
    display: flex;
    font-size: 24px;
    justify-content: center;
    margin-bottom: 15px;
    color: #ffffff; 
    font-weight: bold;
}


.todoform {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

.inputtask {
    flex: 4;
    margin-right: 10px;
}

.inputtask input[type="text"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #444; 
    background: #333; 
    color: #e0e0e0;
    border-radius: 6px;
    font-size: 16px;
    transition: border 0.3s ease;
}

.inputtask input[type="text"]:focus {
    border-color: #888; 
    outline: none;
}

.addtodobutton {
    flex: 1;
    margin-left: 16px;
    display: flex;
    justify-content: center;
}

.addtodobutton button {
    padding: 12px 20px;
    border: none;
    background: #007bff; 
    color: #ffffff; 
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;
}

.addtodobutton button:hover {
    background: #0056b3;
}


.todolist {
    list-style: none;
    padding: 0;
    margin: 0;
}

.todolist li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333; 
    color: #e0e0e0; 
    padding: 10px;
    border: 1px solid #444; 
    border-radius: 6px;
    margin-bottom: 10px;
    transition: background 0.3s ease;
}

.todolist li:hover {
    background-color: #444; 
}


.text {
    flex: 1;
    font-size: 16px;
}


.buttons {
    display: flex;
    gap: 10px;
}

.thirdlinebuttons {
    height: fit-content;
    border: none;
    padding: 5px 10px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.3s ease;
}

.thirdlinebuttons.done {
    background: #28a745; 
    color: #ffffff; 
}

.thirdlinebuttons.done:hover {
    background: #218838;
}

.thirdlinebuttons.delete {
    background: #dc3545;
    color: #ffffff; 
}

.thirdlinebuttons.delete:hover {
    background: #c82333; 
}
